/* 共用 */
.comWidth{width: 1000px; margin-left: auto;margin-right: auto; }
.leftArea{float: left;}
.rightArea{float: right;}

/* topBar */
.topBar{height: 31px;background-color: #f7f7f7;line-height: 31px;}
.collection{background: url(../images/icon/collection.jpg) left center no-repeat; padding-left: 19px;}
.topBar a:hover{color: red;}

/* logo */
.logoBar{height: 85px; background: #1d7ad9;}
.logo{padding-left: 41px; padding-top: 13px;}
.search_box{width: 430px;padding-top: 23px;padding-left: 185px;}
/* .search_text{width: 350px;height: 14px;line-height: 14px; background-color: #fff;padding: 11px 5px 10px 5px;}
 */
.search_text{width: 350px;height: 35px;  line-height: 35px\9;/* \9代表所有的IE浏览器 */ background-color: #fff;padding: 0 5px;padding: 0 5px;}
 .search_btn{width: 70px;height: 35px;font-size: 14px;font-family: "Microsoft YaHei","微软雅黑";background-color: #FF8C00;color: #fff;}

/*购物车*/
.shopCar{width: 145px;height: 35px;background-color: #ff8c00;margin-top: 23px;line-height: 35px;font-size: 14px;font-family: "Microsoft YaHei","微软雅黑";color: #fff; margin-right: 59px;}
.shopText{/* font-size: 14px; font-family: "Microsoft YaHei","微软雅黑"; line-height: 35px; */ font: 14px/35px "Microsoft YaHei","微软雅黑"; color: #fff;height: 100%; width: 87px;border-right:1px solid #e27a00;background: url(../images/icon/shaoIcon.jpg) 10px center no-repeat;text-indent: 40px;}
.shopNum{width: 27px; height: 35px;border-left: 1px solid #ff9c01;background: url(../images/icon/sj.jpg) 33px center no-repeat; text-align: right;padding-right: 29px}
/* 导航 */
.navBox{height: 35px; background-color: #1369c0;color: #fff;}
.shopClass{width: 190px; position: relative;}
.shopClass h3{text-align: center;line-height: 35px;}
.shopClass i{width: 11px; height: 7px;overflow: hidden;background: url(../images/icon/down.jpg) left center no-repeat;display: inline-block;margin-left: 11px;}
.nav,.shopClass h3{font-family: "Microsoft YaHei","微软雅黑";}
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px; display: inline-block;padding: 0 35px; color: #fff;}
.nav .active{background-color: #4593fd;}
.subClass_show{background-color: #4593fd;position: absolute; left: 0; top: 35px;width: 100%;}
.shopClass_item{padding:13px 10px;border-bottom: #3487f2 solid 1px; border-top: 1px solid #5aa1fe; }
.shopClass_item dt{height: 22px; background: url(../images/icon/shop_sj.jpg) right center no-repeat;}
.shopClass_item .b{/* font-family: "Microsoft YaHei","微软雅黑"; font-size: 14px; font-weight: bold; */ font:14px/1 "Microsoft YaHei","微软雅黑" bold;}
.shopClass_item a{color: #fff;}
.shopClass_item a:hover{text-decoration: underline;}
.shopClass_item .aLink{width:48px;height:20px; background: url(../images/icon/aLink_bg.png) left center no-repeat; line-height: 20px; text-align: center;display: inline-block;text-decoration: underline;}
/* shopClass_item active 状态*/
.shopClass_item_active{background-color: #fff;border-left: 1px solid #4593fd;}
.shopClass_item_active dt{background: none;}
.shopClass_item_active a{color: #000;}
.shopClass_item_active .aLink{color: #fff; text-decoration: none;}
/* 弹出的菜单 */
.shopClass_list{width: 568px; border: #ccc solid 1px;position: absolute;left: 190px;top: 35px;}
.shopList_cont{padding: 0 20px;}
.shopList_item{padding: 10px 0;border-bottom: 1px solid #ccc;}
.shopList_item dt{color: #4b87d9; font-weight: bold;height: 24px;line-height: 24px;}
.shopList_item dd{padding-left: 68px; line-height: 24px; margin-top: -24px;}
.shopList_item dd a{margin-right: 12px;}
.shopList_links{padding: 15px 0;}
.shopList_links a{color: #fff;background-color: #2785e6;height: 26px; line-height: 26px;font-size: 12px;display: inline-block;padding: 0 14px 0 8px;margin-right: 10px;}
.shopList_links span{width: 11px;height: 7px;background: url(../images/icon/shop_sj.jpg) left center no-repeat;display: inline-block;margin-left: 7px;}


/* banner部分 */
.banner{margin-bottom: 15px;}
.banner_bar{ float: right;position: relative;overflow: hidden;}
.imgBox{position: absolute;left: 0;top: 0;}
.imgBox li{float: left;}
.imgBox img{display: block;}
.imgNum{position: absolute;left: 0;bottom: 15px; text-align: center;width: 100%;}
.imgNum a{width: 20px;height: 5px;background-color: #fff;overflow: hidden;display: inline-block;margin: 0 3px;}
.imgNum .active{background-color: #ff7700;}
.banner_big,.banner_big img{width: 810px; height: 340px;}
.banner_big .imgBox{width: 1620px;height: 340px;}
.banner_sm,.banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}

/* 商品标题 */
.shopTit{height: 44px; font-family: "Microsoft YaHei","微软雅黑";line-height: 44px;}
.shopTit h3{font-size: 24px;float: left;padding-left: 15px;}
.icon{width: 44px; height: 44px;background: url(../images/icon/shopIcon.jpg) left top no-repeat;float: left;}
.more{float: right;font-family: "宋体";}
.more:hover{text-decoration: underline;}

/* 商品列表 */
.shopList .leftArea{width: 190px;}
.shopList .rightArea{width: 810px;}
.shopList .leftArea .banner_bar{width: 190px;}










