*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
body{
	background-color: #F5F5F5;
}
.top{
	width: 100%;
	height: 27px;
	background: url(../images/top_bg.jpg) repeat-x;
}
.top_content{
	width: 1000px;
	margin: 0 auto;
	line-height: 27px;
}
.top_content li{
	list-style-image: url(../images/li_bg.gif);
	float: right;
	width: 70px;
	line-height: 27px;
}
.top_content a:link,.top_content a:visited{
	color: #8e8e8e;
	text-decoration: none;
}
.top_content a:hover,.top_content a:active{
	color: #900;
	text-decoration: none;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.logo{
	height: 80px;
	background-color: #FFF;
}
.logo_left{
	width: 200px;
	float: left;
}
.logo_right{
	width: 300px;
	float: right;
	height: 28px;
	margin-top: 30px;
	color: #8e8e8e;
}
.logo_right img{
	vertical-align: middle;
	margin-right: 10px;
}
.tel{
	font-family: "微软雅黑";
	font-size: 22px;
	color: #C00;
}
.nav {
	clear: left;
	height: 40px;
}
.nav_left {
	width: 10px;
	background: url(../images/nav_left.jpg) no-repeat;
	float: left;
	margin: 0;
}
.nav_mid {
	width: 980px;
	background: url(../images/nav_bg.jpg) repeat-x;
	line-height: 40px;
}
.nav_right {
	width: 10px;
	background: url(../images/nav_right.jpg) no-repeat;
}
.nav_left, .nav_mid, .nav_right {
	height: 40px;
	float: left;
	display: inline;
}

.nav_mid_left,.nav_mid_right{
	float: left;
	display: inline;
}
.nav_mid_left{
	width: 680px;
}
.nav_mid_right{
	width: 300px;
}
.nav_mid_left li{
	float: left;
	list-style-type: none;
	width: 100px;
	text-align: center;
}
.nav_mid_left a:link,.nav_mid_left a:visited{
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	font-family: "微软雅黑";
}
.nav_mid_left a:hover,.nav_mid_left a:active{
	text-decoration: none;
	font-size: 16px;
	color: #FF0;
	font-family: "微软雅黑";
}
.search_text{
	width: 190px;
	height: 25px;
	background: url(../images/search.jpg) no-repeat right center;
	background-color: #fff;
	padding-right: 25px;
	border: 1px solid #fff;
}
.ad{
	height: 320px;
	overflow: hidden;
	margin-top: 5px;
}
.main{
	clear: left;
	height: 250px;
	background: #fff;
	margin-top: 5px;
}
.news{
	width: 340px;
	border: 1px solid #e8e8e8;
}
.course{
	width: 410px;
	border: 1px solid #e8e8e8;
	background: #00f;
	margin: 0 7px;
}
.sidebar{
	width: 230px;
	border: 1px solid #e8e8e8;
	background: #0f0;
}
.news,.course,.sidebar{
	height: 250px;
	float: left;
}
.title{
	height: 35px;
	border: 2px solid #e8e8e8;
}
.title_left{
	width: 70%;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #786fff;
	float: left;
	line-height: 35px;
	padding-left: 20px;
}
.title_right{
	width: 20%;
	float: right;
	line-height: 35px;
}
.title_right a{
	text-decoration: none;
	color: #999999;
}
.pic_news{
	height: 80px;
	margin-top: 10px;
	line-height: 22px;
}
.pic_news img{
	float: left;
	margin: 0 5px;
}
.pic_news a{
	color: #c00;
	text-decoration: none;
}
.news_list{
	clear: left;
}